@keyframes ldio-kp1e0pchuzg {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}

.spinner {
  margin: 0 20vh;
}
.ldio-kp1e0pchuzg div {
  position: absolute;
  width: 134px;
  height: 134px;
  border: 6px solid #115cb2;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-kp1e0pchuzg div {
  animation: ldio-kp1e0pchuzg 1s linear infinite;
  top: 100px;
  left: 100px
}
.loadingio-spinner-rolling-wk4mg5wavlr {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-kp1e0pchuzg {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-kp1e0pchuzg div { box-sizing: content-box; }